#foursite-transaction-fee {
  .en__field--transaction_fee {
    padding: 0px 15px 0px 15px;
    .en__field__item {
      width: 100%;
    }
  }
  label.en__field__label.en__field__label--item {
    background-color: #fff;
    color: #333;
    text-align: left;
    text-transform: none;
    font-size: 14px;
    margin: 20px 0;
  }
}
